@import '@/asset/less/common.less';

.title {
  position: relative;
  margin: 0 0 20px 20px;
  font-weight: 600;
  font-size: 29px;
  line-height: 35px;
  padding-left: 20px;
  background: linear-gradient(90deg, transparent 0, #1199fa 100%);
  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 3px;
    background: linear-gradient(90deg, #1199fa, #11d0fa);
  }
}
.swiper {
  width: calc(100% - 40px);
  margin-left: 20px;
  :global(.swiper-pagination-bullet:not(.swiper-pagination-bullet-active)) {
    background: white;
  }
}

.slide {
  position: relative;
  width: 100%;
  margin: 0 0% 50px;
  padding: 15% 0;
  overflow: hidden;
  .intro {
    position: absolute;
    top: -10%;
    right: -10%;
    height: 120%;
    width: 50%;
    background: rgba(15, 15, 18, 0.9);
    filter: blur(20px);
  }
  .intro__title {
    position: absolute;
    top: 10px;
    right: 0;
    width: 40%;
    height: calc(100% - 20px);
    font-size: 27px;
    font-weight: bolder;
    padding: 0 0 0 40px;
    box-sizing: border-box;
    .name {
      margin-bottom: 5px;
    }
    .desc {
      font-size: 12px;
      color: #15c5ceaa;
      .line-clamp(2)
    }
  }
  .bg {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .icon {
    position: relative;
    display: inline-block;
    height: 0;
    width: 45%;
    padding: 12% 0;
    margin: 0 0 2%;
    &:nth-child(2n+1) {
      margin-right: 3%;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }
}
.game-area {
  width: 100%;
  padding: 0 20px 40px;
  box-sizing: border-box;
}